body {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: black 0 0 10px;
}

h1 {
    color: #9932cc
}

#status {
    color: #006400;
}

#play-space {
    border: black solid 2px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.square {
    width: 5em;
    height: 5em;
    float: left;
    border: black solid 1px;
    background-color: turquoise;
    cursor: pointer;
}

.square:hover{
    background-color: #cd5c5c;
    color: #d3d3d3;
}

.square.clicked {
    background-color: #cc0000;
    color: #ffffff;
}

#play-again {
    box-shadow: #000000 0 0 5px;
    margin: auto;
    display: none;
}
